* {
    margin: 10px;
    text-align: center;
}

header {
    border: 3px solid green;
    height: 10%;
    font-size: 1em;
}

nav {
    border: 3px solid green;
    height: 10%;
}

main {
    border: 3px solid green;
    height: 70%;
    font-size: 0.8em;
    position: relative;
}

#box {
    position: absolute;
    right: 0;
    width: 100px;
}

footer {
    border: 3px solid green;
    height: 10%;
    font-size: 0.7em;
}

body {
    position: relative;
}

button {
    font-size: 0.9em;
}

#aid {
    position: absolute;
    border: 3px solid blue;
    top: 0px;
    left: 600px;
}

#bookface {
    position: absolute;
    width: 80%;
    height: 80%;
    border: 1px solid red;
    background-color: blanchedalmond;
    left: 7%;
    top: 7%;
    background-image: url("../imgs/CSS.jpg");
    background-size: cover;
}
